.singleContainerPerAssignment {
    display: flex;
}

.formContainer {
    width: 700px;
}

.selectSingle {
    width: 400px;
    font-size: 15px;
    transform: translate(250px, 200px);
}

.headerAssignments {
    transform: translate(50px, 250px);
}

.sortScore {
    transform: translateX(200px);
    display: flex;
}

.shiftBook_single {
    transform: translate(200px, 250px);
}

.radio_single_pa {
    transform: translateY(17px);
}

.sortScoreMain {
    transform: translate(240px, 10px);
    width: 200px;
}