.studentLine {
    list-style-type: none;
}

.sortScore_niceAndBoth {
    width: 100px;
}

.sortScore_difficult {
    width: 150px;
}

#radioScore_bothSS {
    transform: translate(-200px, 15px)
}

#radioScoreDifficultSS {
    transform: translate(-200px, 15px)
}

#radioScoreNiceSS {
    translate: translate(-200px, 15px)
}

.button {
    margin: 40px;
    font-size: 20px;
    background-color: aqua;
}

.Line {
    list-style-type: none;
}

.linkLine {
    color: white;
}

#mainContainer {
    width: 200px;
    display: flex
}

#graphcontainer {
    transform: translateX(300px);
}

.sortScore {
    width: 50px;
    margin-left: 50px;
    height: 1.2em;
    transform: translateX(-600px);
}

#nav {
    background-color: purple;
    color: white;
}

li {
    list-style-type: none;
    color: white;
}

.sortScoreLabel {
    width: 100px;
}

#aside {
    width: 205px;
}

#upperspace {
    height: 100px;
}

.shiftImage_singleStudent {
    transform: translate(600px, 100px);
}

.posgraph {
    width: 720px;
    transform: translateX(400px);
}

.centerNameSingleSHistogram {
    text-align: center;
}

#sortScoreSingleSContainer {
    width: 250px;
}

.scoreLineSS {
    width: 100px;
}

.containerScoreSS {
    display: flex;
}

.dashScoreSS {
    transform: translateY(15px);
}